* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  overflow-x: hidden;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
}

.container_main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px 30px 40px;
}


.link_info a:focus {
  color: #671AE4;
  border-bottom: 1px solid #671AE4;
  transform: scale(110%);
}


.left_info_header_link {
  display: flex;
  gap: 45px;
  padding-top: 10px;
}

.shit {
  position: absolute;
  top: 20px;
}


.ccirecli_logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
}

.logo {
  display: flex;
  gap: 24px;
}

.logo h1 {
  color: #fff;
  font-size: 23px;
  padding-top: 8px;
}

.link_info {
  display: flex;
  gap: 45px;
  padding: 6px 10px;
}

.link_info a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 175.4%;
  /* identical to box height, or 35px */
  letter-spacing: 0.02em;
  color: #FFFFFF;
  z-index: 9;
}

.right_btn {
  display: flex;
  justify-content: end;
  transform: translate(0px, -27px);
}

.btn_header {
  width: 130px;
  height: 43px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  box-shadow: 15px 15px 35px rgba(226, 142, 15, 0.18);
  font-size: 14px;
  font-weight: 600;
}

.btn_top {
  padding-top: 10px;
}

.fixedNav {
  background: #00000067;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 90px;
  position: fixed;
  opacity: 1;
  z-index: 30;
  transition: 0.9s all ease;
  -webkit-transition: 0.9s all ease;
  -moz-transition: 0.9s all ease;
  -ms-transition: 0.9s all ease;
  -o-transition: 0.9s all ease;
}

.Wrap_Block_Div {
  position: relative;
  top: -44px;
}

.wrap_nft_block {
  position: relative;
  top: -66px;
}

.bg_card {
  position: relative;
  top: -85px;
}

.text_info_main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.wrp-text {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 16px 11px;
}

.p_info_down {
  padding: 0px 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 157.9%;
  /* or 32px */
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.btns_down {
  display: flex;
  gap: 20px;
}

.btns_down {
  padding: 46px 11px;
}

.btn-1 {
  z-index: 9;
  width: 155px;
  height: 48px;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn-1:hover {
  transform: scale(110%);
  transition: 0.3s ease;
}

.btn-2:hover {
  transform: scale(110%);
  transition: 0.3s ease;
}

.btn-2 {
  z-index: 9;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 155px;
  height: 48px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.block {
  width: 200px;
  height: 200px;
  background-color: #FF6533;
  margin-top: 9000px;
}

.block_numbers {
  display: flex;
  gap: 120px;
  padding: 0px 15px;
}

.number_1 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  /* identical to box height */
  color: #FFFFFF;
  text-align: center;
}

.number_1 p {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  /* half white */
  color: rgba(255, 255, 255, 0.5);
}

.right_block_img {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 30px;
  transform: translate(0px, -620px);
}

.img_wrap_column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.nft_img {
  width: 297px;
  height: 640px;
  border-radius: 10px;
  object-fit: cover;
}

.img_wrap_column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.img_nft_block_center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top_img {
  width: 287px;
  height: 300px;
  border-radius: 10px;
}

.meddle_img {
  width: 287px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}

.Wrap_Block_Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0px, -400px);
}

.top_title_shop {
  margin-bottom: 39px;
}

.top_title_shop h1 {
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  letter-spacing: 0.02em;
  margin-bottom: 22px;
}

.top_title_shop p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 163.9%;
  /* or 33px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #b6b2b2;
}

.card_img {
  width: 310px;
  height: 344px;
  border-radius: 20px;
  object-fit: cover;
}

.wrap_cards_block {
  transform: translate(0px, -1px);
  display: flex;
  gap: 20px;
}

.descriptions {
  color: rgb(248, 248, 248);
  text-align: center;
  font-size: 13px;
  padding-top: 9px;
}


/* 
.card_one:hover {
  cursor: pointer;
  width: 310px;
  bottom: 90px;
  height: 448px;
  background: linear-gradient(132.95deg, #001aaf 9.31%, #1142e2 79.4%);
  box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  transform: scale(110%);
  transition: 520ms ease-in-out;
  -webkit-transition: 520ms ease-in-out;
  -moz-transition: 520ms ease-in-out;
  -ms-transition: 520ms ease-in-out;
  -o-transition: 520ms ease-in-out;
}


.card_one_2:hover {
  cursor: pointer;
  color: #fff;
  width: 310px;
  bottom: 90px;
  height: 448px;
  background: linear-gradient(132.95deg, #052aff 9.31%, #250463 79.4%);
  box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  transform: scale(110%);
  transition: 520ms ease-in-out;
  -webkit-transition: 520ms ease-in-out;
  -moz-transition: 520ms ease-in-out;
  -ms-transition: 520ms ease-in-out;
  -o-transition: 520ms ease-in-out;
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.card_one_3:hover {
  cursor: pointer;
  color: #fff;
  width: 310px;
  bottom: 90px;
  height: 448px;
  background: linear-gradient(132.95deg, #ff0505 9.31%, #920000 79.4%);
  box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  transform: scale(110%);
  transition: 520ms ease-in-out;
}

.card_one_4:hover {
  cursor: pointer;
  color: #fff;
  width: 310px;
  bottom: 90px;
  height: 448px;
  background: linear-gradient(132.95deg, #21106b 9.31%, #380092 79.4%);
  box-shadow: 12px 18px 30px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  transform: scale(110%);
  transition: 520ms ease-in-out;
}

.card_one:hover:nth-child(2) {
  background-color: #671AE4;
} */

.title_cardNft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrap_nft_block {
  transform: translate(0px, -200px);
}

.title_cardNft p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.title_cardNft h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 60px;
  /* identical to box height */
  color: #FFFFFF;
}

.filter_btn {
  display: flex;
  gap: 68px;
  justify-content: center;
  padding-top: 71px;
}

.filter_btn button {
  width: 288px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.filter_btn button:focus {
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
}

.card_nft {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;

}


.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90px;
}

.circli {
  width: 120px;
  height: 120px;
  border-radius: 58%;
  border: 5px dashed rgb(255, 255, 255);
  animation: show-loader 1s forwards;
  margin-bottom: 70vh;
}

@keyframes show-loader {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes rotate-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circli.entering {
  animation: show-loader 1s forwards;
}

.circli.entered {
  animation: rotate-loader .5s infinite;
}


.circli.exiting {
  animation: show-loader .5s reverse;
}

.wrap_card_flex {
  display: flex;
  width: 440px;
  justify-content: center;
  position: relative;
  left: 25px;
  top: -180px;
}

.card_nft_block {
  width: 389px;
  height: 599px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card_nft_block:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  transform: scale(106%);
  transition: .4s ease-in-out;
  -webkit-transform: scale(106%);
  -moz-transform: scale(106%);
  -ms-transform: scale(106%);
  -o-transform: scale(106%);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
}

.img_nft_top {
  padding: 20px;
}

.img_nft_top img {
  width: 347px;
  height: 390px;
  object-fit: cover;
  border-radius: 10px;
}

.block_descriptions {
  padding: 7px 22px;
  position: relative;
  top: -13px;
}

.block_descriptions p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 13px;
}

.block_descriptions h1 {
  font-size: 19px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.name_nft h1 {
  font-size: 90px;
}

.price_descriptions {
  display: flex;
  gap: 110px;
}

.price_block {
  position: absolute;
  left: 335px;
}

.price_block h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 19px;
  position: relative;
  top: -2px;
}

.btn_link_opensie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.btn_link_opensie button {
  width: 317px;
  height: 45px;
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-weight: 800;
}


.btn_link_opensie button:hover {
  cursor: pointer;
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}

.wrap_title_nft_price {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title_price_wrap {
  font-weight: 700;
  font-size: 43px;
  line-height: 60px;
  /* identical to box height */
  color: #FFFFFF;
}

.wrap_title_nft_price p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  /* half white */
  color: rgba(255, 255, 255, 0.5);
}

.flex_block_price {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-top: 60px;
  margin-left: 63px;
}

.card_price {
  width: 454.23px;
  height: 573.54px;
  background: rgba(0, 47, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card_price>.img_wrap_nft :hover {
  border: 1px solid #ffffff;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.img_wrap_nft img {
  width: 454.23px;
  height: 573.54px;
}

.block_info_wrapper {
  width: 454.23px;
  height: 190.54px;
  background: linear-gradient(137.43deg, rgba(255, 255, 255, 0.5) 3.89%, rgba(255, 255, 255, 0.2) 100%);
  border: 1.16468px solid #FFFFFF;
  backdrop-filter: blur(23.2936px);
  transform: translate(0px, -190px);
  -webkit-transform: translate(0px, -190px);
  -moz-transform: translate(0px, -190px);
  -ms-transform: translate(0px, -190px);
  -o-transform: translate(0px, -190px);
}

._top_img_ciricli {
  display: flex;
  padding: 0px 20px;
  position: relative;
  top: -30px;
}

.ciricle_one {
  width: 55.9px;
  height: 55.9px;
  border: 2px solid #ffff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.ciricle_one img {
  width: 50.9px;
  height: 50.9px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  cursor: pointer;
}

.left_1 {
  position: relative;
  right: 12px;
}

.left_2 {
  position: relative;
  right: 23px;
}

.left_3 {
  position: relative;
  right: 39px;
}

.left_4 {
  position: relative;
  right: 54px;
}

.title_nft {
  padding: 10px 29px;
  color: #fff;
}

.wrapper_top_block {
  display: flex;
  gap: 42px;
  width: 200%;
}

.rigt_price {
  display: flex;
  gap: 8px;
}

.rigt_price img {
  width: 33px;
  padding-top: 3px;
}

.rigt_price h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 27.9524px;
  line-height: 33px;
  color: #FFFFFF;
  padding-top: 9px;
}

.wrapper_bottom_block {
  display: flex;
  gap: 190px;
  padding: 20px 32px;
}

.wrapper_bottom_block h3 {
  font-weight: 800;
  font-size: 16.3056px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.wrapper_bottom_block button {
  border: 2.32937px solid #FFFFFF;
  border-radius: 5.82341px;
  width: 135.1px;
  height: 41.93px;
  background: none;
  font-weight: 400;
  font-size: 16.3056px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  top: -10px;
}